@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --color-white: #fff;
  --color-background: #fafafa;
  --color-hairline: #e7e7e7;
  --color-text-400: #aeaeae;
  --color-black: #000;
  --color-primary: #6ea0ff;
  --easing: cubic-bezier(.9,0,.1,1);
  --radius: 12px;
  --unit: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

* { box-sizing: border-box; }

/* cascade */

body {
  background: var(--color-white);
  color: var(--color-black);
  font: 500 16px/1 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  color: var(--color-primary);
  text-decoration: none;
  transition: background-size .5s cubic-bezier(.1,1,.3,1);
}
a:focus,
a:hover { background-size: 100% 2px; }

button,
input,
textarea {
  background: none;
  border-radius: var(--radius);
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: var(--unit) 12px;
  text-rendering: inherit;
}
button { cursor: pointer; }
::placeholder {
  color: inherit;
  opacity: .3;
}

/* layout */

body { padding: 24px; }
#bigfoot {
  display: flex;
  gap: 24px;
}

.content {
  display: none;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  max-width: calc(100vw - 400px);
}
.content.active { display: flex; }

.row {
  display: flex;
  gap: 16px;
}

.column,
.fill { flex: 1; }

/* theme - default */

.doc > h1,
.doc > h2,
.doc > h3 { margin: 3em 0 1em; }

/* component - #bar-top */

#bar-top {
  align-items: center;
  border-bottom: 1px solid var(--color-hairline);
  display: flex;
  gap: 24px;
  padding: 0 0 24px;
}

#page-title {
  font-size: 30px;
  flex: 1;
}

#select-location {
  background: var(--color-background);
  border-radius: 20px;
  color: inherit;
  display: flex;
  flex: 1;
}

#button-user {
  align-items: center;
  background: var(--color-background);
  border-radius: 20px;
  display: flex;
  gap: 16px;
  height: 72px;
  padding: 0 24px;
}
.button-user-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.button-user-name {}

/* component - .breadcrumb */

.breadcrumb-group {
  align-items: center;
  display: flex;
  gap: var(--unit);
}

/* component - #logo */

#logo {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

/* component - #nav-main */

#nav-main {
  background: var(--color-background);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: calc(100vh - 48px);
  max-width: 328px;
  padding: 32px;
}

/* component - .nav-tab */

.nav-tab {
  align-items: center;
  border-radius: var(--radius);
  color: #aeaeae;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 72px;
  padding: 16px 24px;
}
.nav-tab-icon {
  font-size: 24px;
  width: 64px;
}
.nav-tab-name { flex: 1; }

.nav-tab:hover { color: var(--color-primary); }
.nav-tab.active {
  background: var(--color-primary);
  color: var(--color-white);
}

/* component - .card-map-thing */

.card-map-thing {
  align-items: center;
  background: var(--color-primary);
  border-radius: 24px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-size: 21px;
  gap: 24px;
  height: 324px;
  justify-content: center;
  line-height: 1.3;
  padding: 48px;
  text-align: center;
}
.card-map-thing .nav-tab {
  background: var(--color-white);
  border-radius: 28px;
  color: var(--color-black);
  font-size: 15px;
  height: 56px;
}

/* component - #bar-cat */

#bar-cat {
  display: flex;
  gap: 32px;
  overflow-x: auto;
  padding: 0 0 16px;
}
.card-cat {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width: 80px;
}
.card-cat-icon {
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-hairline);
  color: #5f5f5f;
  display: flex;
  font-size: 32px;
  height: 80px;
  justify-content: center;
  padding: 12px;
  width: 80px;
}

.card-cat:hover .card-cat-icon,
.card-cat.active .card-cat-icon { border-color: inherit; }

/* component - .chip */

#bar-chip {
  display: flex;
  gap: 16px;
}

.chip,
.chip-icon,
.chip-smaller {
  align-items: center;
  border: 1.3px solid #dbdbdb;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.chip {
  border-radius: 28px;
  height: 56px;
  padding: 12px 32px;
}
.chip:hover,
.chip-icon:hover,
.chip-smaller:hover {
  border-color: inherit;
  /* color: #00cd88; */
}
.chip.active {
  background: #00cd88;
  border: none;
  color: var(--color-white);
  font-weight: 700;
}
.chip-icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.list-chips {
  align-items: center;
  display: flex;
  gap: 8px;
}
.chip-smaller {
  border-radius: 20px;
  font-size: 13px;
  height: 40px;
  padding: 0 20px;
}
.color-orange-ish,
.color-blue-ish {
  border: none;
  color: var(--color-white);
}
.color-orange-ish { background: #F68160; }
.color-blue-ish { background: #6EA0FF; }

/* component - .meta */

.meta { flex: 1; }
.meta-name { margin: 0 0 12px; }
.meta-pair-group {
  display: flex;
  gap: 12px;
}
.meta-pair {
  display: flex;
  gap: 6px;
}
.meta-pair-icon {}
.meta-pair-value { opacity: .5; }

/* component - .card-thing */

#list-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.card-thing {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow: hidden;
  transition: background-size .2s var(--easing);
  width: 288px;
}
.card-thing-top {
  align-items: baseline;
  display: flex;
  padding: 24px;
}
.card-thing-date {
  align-items: center;
  background: var(--color-white);
  border-radius: 8px;
  display: flex;
  font-size: 18px;
  height: 40px;
  padding: 8px 16px;
}
.card-thing-save {
  align-items: center;
  backdrop-filter: blur(2px);
  background: #0003;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}
.card-thing-footer {
  background: linear-gradient(#0000, #000f);
  color: var(--color-white);
  padding: 24px;
}
.card-thing-dots {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.dot {
  background: #fff3;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  width: 10px;
}
.dot:hover,
.dot.active { background: var(--color-white); }
.card-thing-name { margin: 24px 0 12px; }
.card-thing-place {
  color: #fff6;
  font-size: 18px;
}
.card-thing-place-icon {
  color: #575fcc;
  margin-right: 4px;
}
.card-thing:hover { background-size: 110%; }

/* component - .overlay */

.overlay {
  align-items: center;
  background: #000c;
  backdrop-filter: blur(8px);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay.inline {
  height: calc(100vh - 48px);
  position: relative;
  width: calc(100vw - 48px);
}

.overlay > div {
  background: var(--color-white);
  border-radius: 32px;
  padding: 48px;
  width: 496px;
}
.overlay h2 { margin: 0; }
/* .overlay */ button { 
  align-items: center;
  background: var(--color-primary);
  color: var(--color-white);
  display: flex;
  font-weight: 700;
  height: 48px;
  justify-content: center;
}

#dialog-filters { width: 768px; }

#map {
  border-radius: 24px;
  height: calc(100vh - 48px);
}

/* component - .card-spot */

#list-spots {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
}
#list-spots > h2 { margin: 0; }

.card-spot { width: 100%; /* REVISIT */ }
.card-spot-img {
  border-radius: 24px; /* do a root var refactor at the end */
  height: 232px;
  width: 100%;
}
.card-spot-reel {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 24px;
}
.part {
  background: #fff3;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  height: 8px;
}
.part:hover,
.part.active { background: var(--color-white); }

.card-spot-footer {
  align-items: center;
  display: flex;
  padding: 12px 0 0;
}
.card-spot-text { flex: 1; }
.card-spot-name { margin: 0 0 12px; }
.card-spot-meta {
  display: flex;
  gap: 8px;
}

/* component - .pin-map */

.pin-map {
  align-items: center;
  background: #F68160;
  border-radius: 50%;
  border: 8px solid var(--color-white);
  box-shadow: 0 5px 20px #0003;
  color: var(--color-white);
  display: flex;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  width: 64px;
}

/* component - .card-map */

.card-map {
  background: var(--color-white);
  border-radius: 24px;
  box-shadow: 0 20px 60px #0003;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: 400px;
}
.card-map-top {
  align-items: center;
  display: flex;
}
.card-map-price {
  font-size: 28px;
  font-weight: 700;
}
.card-map-img { border-radius: 12px; }

.card-map-detail-group {
  display: flex;
  gap: 24px;
}
.card-map-detail {
  display: flex;
  gap: 8px;
  white-space: nowrap;
}
.card-map-detail-icon {
  background: #fafafa;
  border-radius: 10px;
  padding: 12px;
}
.card-map-detail-text { line-height: 20px; }
.card-map-detail-top {
  font-size: 13px;
  opacity: .5;
}
.card-map-detail-bottom {
  font-size: 15px;
  font-weight: bold;
}
.fa-location-dot,
.fa-clock { color: #00cd88; }
.fa-star { color: #FFD545; }
.fa-copy { color: var(--color-primary); }

/* event details */

#page-event {}

.thing-image-group,
.thing-image-group-v {
  align-items: stretch;
  display: flex;
  flex: 1;
  gap: 24px;
}
.thing-image-group-v { flex-direction: column; }
.thing-image {
  background: transparent url(https://source.unsplash.com/aZ3qiq1eTRk/800x800) no-repeat center / cover;
  border-radius: 24px;
  flex: 1;
  min-height: 160px;
}

/* user details */

/* collections */

/* forms */

form {
  font-size: 20px;
  line-height: 1.5;
}
form h1 {
  margin: 0 0 24px;
  text-align: center;
}
form h2,
form p { margin: 0; }
form p,
form label { color: #A5A5A5; }
form button,
form input:not([type=checkbox]) { height: 96px; }
form button {
  font-size: 24px;
  font-weight: 700;
}
.center { text-align: center; }

form,
.field-set {
  display: flex;
  flex-direction: column;
}
form { gap: 32px; }
.field-set,
.field-set-h {
  gap: 24px;
  position: relative;
}
.field-set-h {
  align-items: center;
  display: flex;
}
.field-set-h > .field-set { flex: 1; }

#form-sign-in,
#form-sign-up,
#pick-interests { display: flex; }
#background { flex: 1; }
#form-sign-in form {
  width: 824px;
  padding: 152px 184px;
}
#form-sign-up form {
  width: 1084px;
  padding: 152px 184px;
}

input {
  background: #f6f6f6;
  font-size: 18px;
  padding: 32px 48px;
}
[type=checkbox] {
  cursor: pointer;
  transform: scale(2);
}

.fa-eye-slash {
  color: #a5a5a5;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 48px;
  top: 80px;
}

/* component - .pill-interest */

#pick-interests form {
  width: 904px;
  padding: 152px 184px;
}
#pill-interest-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.pill-interest {
  align-items: center;
  border-radius: 44px;
  border: 1px solid var(--color-hairline);
  cursor: pointer;
  display: flex;
  font-size: 21px;
  font-weight: 700;
  gap: 12px;
  height: 88px;
  padding: 24px 48px;
}
.pill-interest span { font-size: 32px; }
.pill-interest:hover { border-color: inherit; }

/* DURING FAST DEV ONLY */
/* .doc > h3,
.doc > p,
#nav-main,
#bar-top,
#button-user,
#bar-cat,
#bar-chip,
.meta,
#list-cards,
.overlay,
#map,
#list-spots,
.pin-map,
.card-map,
#page-event,
#page-user,
#form-user,
#page-collection,
#form-collection,
#dialog-collection-options,
#dialog-collaborators,
#background,
#form-sign-up,
#form-sign-in,
#pick-interests { display: none; } */
